body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    margin: 0;
}

.form-container {
    width: 600px;
    background: white;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

h1 {
    margin-top: 0;
    color: #2d6b2f;
    font-size: 26px;
}

label {
    display: block;
    margin-top: 18px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
    background: #f0f0f0;
}

input:focus,
select:focus {
    outline: none;
    border-color: #5ba400;
}

.inline-group {
    display: flex;
    gap: 10px;
}

.inline-group select {
    width: 140px;
}

.checkbox {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    margin-top: 25px;
    width: 200px;
    padding: 14px;
    background: #d4e59c;
    border: none;
    color: #333;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #c4db7f;
}

.zonaPictogramas img {
  max-width: 90px;
  max-height: 90px;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
}

